.siteContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:lavender;
}
.blue-text{font-family:cursive; text-decoration-color:blue;}
.Header-font{font-family:sans serif; text-decoration-color:yellow; font-size:40px;}

